In [2]:
#Pandas Challenge

#Dependencies and Setup
import pandas as pd
import numpy as np

In [3]:
#Create a path to the file
file_path = "../../Homework/Instructions/HeroesOfPymoli/Resources/purchase_data.csv"

#Read into file and create a DataFrame
raw_df = pd.read_csv(file_path)
raw_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
# Player Count - Total Number of Players
total_player_count = [(len(raw_df["SN"].value_counts()))]

# Build the dataframe
tpc_df = pd.DataFrame(total_player_count, columns = ['Total Player Count'])
tpc_df

   Total Player Count
0                 576

In [5]:
# Purchasing Analysis (Total)

# Number of Unique Items
unique_items = [len(raw_df["Item ID"].value_counts())]

# Total Number of Purchases
total_purchases = [raw_df["Item Name"].count()]

# Total Revenue
total_revenue = raw_df["Price"].sum()

# Average Purchase Price
avg_price = (total_revenue / total_purchases).round(2)

# Build the dataframe
purchasing_analysis = {"Number of Unique Items": unique_items,
                       "Average Price": avg_price,
                       "Number of Purchases": total_purchases,
                       "Total Revenue": total_revenue
                      }

# Format the dataframe
purchasing_analysis_df = pd.DataFrame(purchasing_analysis)
purchasing_analysis_df["Average Price"] = purchasing_analysis_df["Average Price"].map("${:.2f}".format)
purchasing_analysis_df["Total Revenue"] = purchasing_analysis_df["Total Revenue"].map("${:.2f}".format)
purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

In [6]:
# Gender Demographics

# Pull Genders and Gender Counts
player_df = raw_df.groupby(['SN'])
gender_counts = player_df["Gender"].unique().value_counts()

# Calculate Percentages for Each Gender
total_players = (len(raw_df["SN"].value_counts()))
percentages = [(x/total_players)*100 for x in gender_counts]

# Build the dataframe
gender_demographics = {"Total Count": gender_counts,
                       "Percentage of Players": percentages,
                        }

gender_demographics_df = pd.DataFrame(gender_demographics)
gender_demographics_df.round(2)

                         Total Count  Percentage of Players
[Male]                           484                  84.03
[Female]                          81                  14.06
[Other / Non-Disclosed]           11                   1.91

In [7]:
# Purchasing Analysis (Gender)

# Group by SN to get individual players
sn_df = raw_df.groupby(["SN"])

# Group by gender
genders_df = raw_df.groupby(["Gender"])

# Get a list of the gender breakdown for individual players
count_per_gender = sn_df["Gender"].unique().value_counts().tolist()

# Count of purchase made by each gender
purchase_counts = genders_df["Purchase ID"].count()

# Sum of the purchase made by each gender
total_purchase_values = genders_df["Price"].sum()

# Average price of each purchase made by gender
purchase_price_average = (total_purchase_values / purchase_counts).round(2)

# Average purchase price for each individual player
person_avg = [(total_purchase_values[0]/count_per_gender[1]).round(2),
              (total_purchase_values[1]/count_per_gender[0]).round(2),
              (total_purchase_values[2]/count_per_gender[2]).round(2)
             ]

# Build the dataframe
genders_purchasing_analysis = {"Purchase Count": purchase_counts,
                              "Average Purchase Price": purchase_price_average,
                              "Total Purchase Value":total_purchase_values,
                              "Average Total Purchase per Person":person_avg
                             }
genders_purchasing_analysis_df = pd.DataFrame(genders_purchasing_analysis)

# Format the dataframe
genders_purchasing_analysis_df["Average Purchase Price"
                              ] = genders_purchasing_analysis_df["Average Purchase Price"].map("${:.2f}".format)
genders_purchasing_analysis_df["Total Purchase Value"
                              ] = genders_purchasing_analysis_df["Total Purchase Value"].map("${:.2f}".format)
genders_purchasing_analysis_df["Average Total Purchase per Person"
                              ] = genders_purchasing_analysis_df["Average Total Purchase per Person"].map("${:.2f}".format)
genders_purchasing_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [8]:
# Age Demographics

# Create limits for the bins
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

# Title the bins
age_grouping = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Bin each row based on age, create a column for the bins
raw_df["Age Demographics"] = pd.cut(raw_df["Age"], age_bins, labels=age_grouping)

# Create a dataframe grouped around the age bins
age_group_df = raw_df.groupby(["Age Demographics"])

# Count the number of individuals in each bin
age_count = age_group_df["SN"].nunique()

# Get the count of individual players
individual_player_count = raw_df["SN"].nunique()

# Calculate each age groups percentage of the total players
percentage_by_age = ((age_count/individual_player_count)*100).round(2)

# Build the dataframe
age_demographics = {"Total Count": age_count,
                    "Percentage of Players":percentage_by_age
                   }
age_demographics_df = pd.DataFrame(age_demographics)
age_demographics_df

                  Total Count  Percentage of Players
Age Demographics
<10                        17                   2.95
10-14                      22                   3.82
15-19                     107                  18.58
20-24                     258                  44.79
25-29                      77                  13.37
30-34                      52                   9.03
35-39                      31                   5.38
40+                        12                   2.08

In [9]:
# Purchasing Analysis (Age)

# Create limits for the bins
bins_for_ages = [0, 9, 14, 19, 24, 29, 34, 39, 100]

# Title the bins
grouping_by_age = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Bin each row based on age, create a column for the bins
raw_df["Age Demographics"] = pd.cut(raw_df["Age"], bins_for_ages, labels=grouping_by_age)

# Create a dataframe grouped around age bins
age_grouping_df = raw_df.groupby(["Age Demographics"])

# Count the number of individuals in each age bin
count_of_age_group = age_grouping_df["SN"].nunique()

# Count the number of individuals
count_by_individual_player = raw_df["SN"].nunique()

# Calculate the purchase total of each age group
total_purchase_age = age_grouping_df["Price"].sum()

# Calculate the average purchase price for individuals in each age group
average_individual_price_age = (total_purchase_age / count_of_age_group).round(2)

# Calculate the total number of purchases in each age group
purchase_count_age = age_grouping_df["Price"].count()

# Calculate the average purchase price for the total number of purchases
average_purchase_price = (total_purchase_age / purchase_count_age).round(2)

# Buld the dataframe
purchasing_analysis_age = {"Purchase Count":purchase_count_age,
                           "Average Purchase Price":average_purchase_price,
                           "Total Purchase Value":total_purchase_age,
                           "Average Total Purchase per Person":average_individual_price_age
                          }
purchasing_analysis_age_df = pd.DataFrame(purchasing_analysis_age)

# Format the dataframe
purchasing_analysis_age_df["Average Purchase Price"
                              ] = purchasing_analysis_age_df["Average Purchase Price"].map("${:.2f}".format)
purchasing_analysis_age_df["Total Purchase Value"
                              ] = purchasing_analysis_age_df["Total Purchase Value"].map("${:.2f}".format)
purchasing_analysis_age_df["Average Total Purchase per Person"
                              ] = purchasing_analysis_age_df["Average Total Purchase per Person"].map("${:.2f}".format)
purchasing_analysis_age_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Age Demographics,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [10]:
# Top Spenders

# Create a dataframe sorted by sn
individual_users_df = raw_df.groupby(["SN"])

# Build two dataframes for Total Purchase Value and Purchase Count
user_purchase_sum = {"Total Purchase Value":individual_users_df["Price"].sum().sort_values(ascending=False)}
user_purchase_count = {"Purchase Count":individual_users_df["Price"].count()}
user_purchase_sum_df = pd.DataFrame(user_purchase_sum)
user_purchase_count_df = pd.DataFrame(user_purchase_count)

# Merge the dataframes on sn
top_spend_df = pd.merge(user_purchase_sum_df,user_purchase_count_df, on="SN")

# Calculate the average purchase price and place into a third column
top_spend_df["Average Purchase Price"] = (top_spend_df["Total Purchase Value"]/top_spend_df["Purchase Count"]).round(2)

# Format the columns
top_spend_df["Average Purchase Price"] = top_spend_df["Average Purchase Price"].map("${:.2f}".format)
top_spend_df["Total Purchase Value"] = top_spend_df["Total Purchase Value"].map("${:.2f}".format)

# Rearange the datafram
top_spender_df = top_spend_df[["Purchase Count","Average Purchase Price","Total Purchase Value"]]

# Limit the dataframe to the top five spenders
top_spenders_df = top_spender_df.head(5)
top_spenders_df

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [13]:
# Most Popular Items

# Group Data by Item ID and Item Name
items_df = raw_df.groupby(["Item ID", "Item Name"])

# Calculate the number of purchases for each item
number_of_purchases = items_df["Price"].count()

# Calculate the total value of the purchases for each item
pop_price_df = items_df["Price"].sum()

# Calculate the item price
item_price = pop_price_df / number_of_purchases

# Build the dataframe
popular_items = {"Purchase Count":number_of_purchases,
                 "Total Purchase Value":pop_price_df,
                 "Item Price":item_price}
popular_items_df = pd.DataFrame(popular_items)

# Format the dataframe
popular_items_df["Total Purchase Value"] = popular_items_df["Total Purchase Value"].map("${:.2f}".format)
popular_items_df["Item Price"] = popular_items_df["Item Price"].map("${:.2f}".format)

# Rearrange the dataframe
popular_items_df_rearrange_df = popular_items_df[["Purchase Count","Item Price","Total Purchase Value"]]

# Limit the dataframe to display the top five most popular items
most_popular_items_df = popular_items_df_rearrange_df.sort_values(["Purchase Count"], ascending= False).head(5)
most_popular_items_df

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

In [15]:
# Build a dataframe for the most profitable items
profitable_items = {"Purchase Count":number_of_purchases,"Total Purchase Value":pop_price_df, "Item Price":item_price}
profitable_items_df = pd.DataFrame(profitable_items)

# Rearrange the columns in the dataframe
profitable_items_df_rearrange_df = profitable_items_df[["Purchase Count","Item Price","Total Purchase Value"]]

# Limit the dataframe to display the top five most profitable items
most_profitable_items_df = profitable_items_df_rearrange_df.sort_values(
    ["Total Purchase Value"], ascending=False).head(5)

# Format the dataframe
most_profitable_items_df["Total Purchase Value"] = most_profitable_items_df["Total Purchase Value"].map("${:.2f}".format)
most_profitable_items_df["Item Price"] = most_profitable_items_df["Item Price"].map("${:.2f}".format)

most_profitable_items_df

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80

In [17]:
"""
Pandas Challenge Write Up:

Trend One:
There are about 6 times as many male players as there are female players, however female players on average
spend $0.40 more per perchase then male players. So increasing the number of female player can potentially
increase profits.

Trend Two:
The product "Pursuit, Cudgel of Necromancy" is the fifth most profitable item, with four products purchased more
often. Each of the four products are at lease $2.51 cents more expensive. This shows the most popular items are simply
popular due to the price, but for another factor. The "Pursuit, Cudgel of Necromancy" is not one of the top five
most profitable items, but considering players are buying several prodcuts that are more expensive, this leaves room
for Heros of Pymoli to increase the price without sacrificing popularity.

Thrend Three:
Although the 30-40 demographic only makes up about 14% of the total player population, they on average spent
more purchase then any other demographic. The next highest, making up about 64% of the player population, was the
20-30 demographic. On average they spent $0.75 less person on every purchase then the players in their 30's. So if
Heros of Pymoli can increase the number of players in their 30's, they can potentially become more profitable.

"""